{% extends 'main.html' %}

{% block content %}


    <!--Page Title-->
    <section class="page-title centred" style="background-image: url(/static/images/background/page-title.jpg);">
        <div class="container">
            <div class="content-box">
                <h1>About Us</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- about-section -->
    <section class="about-section style-two">
        <div class="anim-icon">
            <div class="icon icon-1 float-bob-x"></div>
            <div class="icon icon-3"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="sec-title style-two">
                            <h5>About Us</h5>
                            <h1>Welcome to Ethel Kindergarten</h1>
                        </div>
                        <p class="bold-text">
                            Ethel Kindergarten started in 2020 as a Kindergarten with about 20 (thirty) children and 3 (three) staff Members. 
                            In a three bed roomed house with 30 chairs and no table with personal savings of about UgShs 1,000,000. (one million). 
                            We have now grown into one of the biggest and best education institution with over 350 members of staff and about 4000 pupils.

                        </p><p class="bold-text"> 
                            Ethel Kindergarten is a God fearing institution that is dedicated to train a wholesome person. 
                            The Institution provides a range of services including Daycare, Kindergarten, and transportation of pupils. 
                            School programmes are designed to build a foundation for a child’s cognitive and physiological development so as to enhance their capability to learn 
                            and interact with more complex concepts in their academic life and thereafter.</p>
                        <div class="text">
                            <p>Ethel emphasizes on wholesomeness of a person, we train the head, heart and hands. 
                                We develop all the three major parts of an individual. This enables us to identify talent, tap and develop it early. 
                                Our pupils are outstanding in Music Dance and Drama, Sports, Swimming and other activities.</p>
                        </div>
                        <div class="btn-box"><a href="{% url 'contact' %}" class="theme-btn">Contact us</a></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image image-1"><img src="/static/images/resource/about-5.jpg" alt=""></figure>
                        <figure class="image image-2"><img src="/static/images/gallery/UJBL0393.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->


    <!-- classes-section -->
    <section class="classes-section style-two sec-pad">
        <div class="parallax-scene parallax-scene-1 parallax-icon">
            <span data-depth="0.40" class="parallax-layer icon icon-1"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-2"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-3"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-4"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-5"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-6"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-7"></span>
        </div>
        <div class="container">
            <div class="sec-title centred">
                <h5>Classess</h5>
                <h1>Education for Your<br />Children</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 block-column">
                    <div class="inner-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box"><a href="#"><img src="/static/images/gallery/BLRN1497.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <div class="link-btn"><a href="#"><i class="flaticon-next"></i></a></div>
                            <h3><a href="#">Educational Tour</a></h3>
                            <!-- <div class="price">$480</div> -->
                            <ul class="info-box">
                                <li>Age: <span>2-4 Years</span></li>
                                <li>Size: <span>12 Seats</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 block-column">
                    <div class="inner-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box"><a href="#"><img src="/static/images/gallery/IMG-20220703-WA0035.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <div class="link-btn"><a href="#"><i class="flaticon-next"></i></a></div>
                            <h3><a href="#">Outdoor Activities</a></h3>
                            <!-- <div class="price">$580</div> -->
                            <ul class="info-box">
                                <li>Age: <span>2-4 Years</span></li>
                                <li>Size: <span>12 Seats</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 block-column">
                    <div class="inner-block wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <figure class="image-box"><a href="#"><img src="/static/images/gallery/IMG-20220703-WA0043.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <div class="link-btn"><a href="#"><i class="flaticon-next"></i></a></div>
                            <h3><a href="#">Paper Plates Art</a></h3>
                            <!-- <div class="price">$550</div> -->
                            <ul class="info-box">
                                <li>Age: <span>2-4 Years</span></li>
                                <li>Size: <span>12 Seats</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- classes-section end -->

{% endblock content %}