{% extends 'main.html' %}
{% block content %}

<div>
        <!-- main-slider -->
        <section class="main-slider style-three">
            <div class="main-slider-carousel owl-carousel owl-theme nav-style-two">
                <div class="slide" style="background-image:url(/static/images/main-slider/slider-1.jpg)">
                    <div class="container">
                        <div class="content-box">
                            <h3>Best Choise</h3>
                            <h1>Make Your Children's Life Special</h1>
                            <div class="btn-box"><a href="{% url 'contact' %}" class="theme-btn">Contact us</a></div>
                        </div>
                    </div>
                </div>
                <div class="slide" style="background-image:url(/static/images/main-slider/slider-2.png)">
                    <div class="container">
                        <div class="content-box">
                            <h3>Best Choise</h3>
                            <h1>Make Your Children's Life Special</h1>
                            <div class="btn-box"><a href="{% url 'contact' %}" class="theme-btn">Contact us</a></div>
                        </div>
                    </div>
                </div>
                <div class="slide" style="background-image:url(/static/images/main-slider/slider-3.png)">
                    <div class="container">
                        <div class="content-box">
                            <h3>Best Choise</h3>
                            <h1>Make Your Children's Life Special</h1>
                            <div class="btn-box"><a href="{% url 'contact' %}" class="theme-btn">Contact us</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main-slider end -->
            <!-- service-section -->
            <section class="service-style-two">
                <div class="container">
                    <div class="inner-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                                <div class="service-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="flaticon-bus-1"></i></div>
                                        <h3><a href="#">Bus Service</a></h3>
                                        <div class="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                                <div class="service-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="flaticon-running"></i></div>
                                        <h3><a href="#">Sports Training</a></h3>
                                        <div class="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                                <div class="service-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="flaticon-drum"></i></div>
                                        <h3><a href="#">Music Training</a></h3>
                                        <div class="text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service-section end -->
            

    <!-- about-style-two -->
    <section class="about-style-two centred sec-pad">
        <div class="anim-icon">
            <div class="icon icon-1 wow zoomIn animated"></div>
        </div>
        <div class="container">
            <div class="inner-box">
                <div class="title-box">
                    <div class="sec-title">
                        <h5>About Us</h5>
                        <h1>Welcome to Ethel<br />PreSchool & DayCare</h1>
                    </div>
                    <div class="text">Explore,Learn<br />Grow </div>
                </div>
                <div class="image-inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                            <figure class="image-box"><img src="/static/images/resource/IMG_6093.jpg" alt=""></figure>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                            <figure class="image-box"><img src="/static/images/resource/IMG_6087.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>
                <div class="lower-content">
                    <div class="text">
                        <p>Students build a solid foundation in the key areas of reading, writing, speaking and listening. 
                            Following the internationally recognised Phonics reading and writing program, students are provided a systematic and logical framework for development. 
                            JAPEC speaking and listening tests track child growth to ensure no-one is left behind</p>
                    </div>
                    <div class="btn-box"><a href="{% url 'contact' %}" class="theme-btn">Contact us</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two end -->


    <!-- classes-section -->
    <section class="classes-section style-two style-three">
        <div class="parallax-scene parallax-scene-1 parallax-icon">
            <span data-depth="0.40" class="parallax-layer icon icon-1"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-2"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-3"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-4"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-5"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-6"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-7"></span>
        </div>
        <div class="anim-icon">
            <div class="icon icon-2 float-bob-y"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 inner-column">
                    <div class="inner-content">
                        <div class="sec-title style-two">
                            <h5>Classess</h5>
                            <h1>Education for Your Children</h1>
                        </div>
                        <div class="text"> Ethel emphasizes on wholesomeness of a person, we train the head, heart and hands. We develop all the three major parts of an individual. This enables us to identify talent, tap and develop it early.</div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 carousel-column">
                    <div class="carousel-content">
                        <div class="classes-carousel owl-carousel owl-theme">
                            <div class="inner-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <figure class="image-box"><a href="#"><img src="/static/images/resource/IMG_6098.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <div class="link-btn"><a href="#"><i class="flaticon-next"></i></a></div>
                                    <h3><a href="#">Reading Lessons</a></h3>
                                    <div class="price"></div>
                                    <ul class="info-box">
                                        <li>Age: <span>2-4 Years</span></li>
                                        <li>Size: <span>12 Seats</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="inner-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <figure class="image-box"><a href="#"><img src="/static/images/resource/IMG_6097.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <div class="link-btn"><a href=""><i class="flaticon-next"></i></a></div>
                                    <h3><a href="#">Paper Plates Art</a></h3>
                                    <div class="price"></div>
                                    <ul class="info-box">
                                        <li>Age: <span>2-4 Years</span></li>
                                        <li>Size: <span>12 Seats</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="inner-block wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <figure class="image-box"><a href="#"><img src="/static/images/resource/IMG_6086.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <div class="link-btn"><a href="#"><i class="flaticon-next"></i></a></div>
                                    <h3><a href="#">Writing Lessons</a></h3>
                                    <div class="price"></div>
                                    <ul class="info-box">
                                        <li>Age: <span>2-4 Years</span></li>
                                        <li>Size: <span>12 Seats</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- classes-section end -->
    
    <!-- activities-section -->
    <section class="activities-section style-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box clearfix">
                        <figure class="image"><img src="/static/images/resource/activity.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="title-box">
                            <div class="sec-title style-two">
                                <h5>Activities</h5>
                                <h1>Kids Activities</h1>
                            </div>
                            <div class="text"></div>
                        </div>
                        <div class="inner-box">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="icon-box"><i class="flaticon-abc-block"></i></div>
                                        <h3><a href="#">Full Day Session</a></h3>
                                        <div class="text">The pupils are cared for Until the Evening hours When the Parent is able to pick them up </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="icon-box"><i class="flaticon-teddy-bear"></i></div>
                                        <h3><a href="#">Table/Floor Toys</a></h3>
                                        <div class="text">Active, holistic and play-based activities with various available Toys</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="icon-box"><i class="flaticon-championship"></i></div>
                                        <h3><a href="#">Outdoor Games</a></h3>
                                        <div class="text">The pupils get to play and enjoy Outdoor games like football, skipping and many others</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="icon-box"><i class="flaticon-playground"></i></div>
                                        <h3><a href="#">Play Area</a></h3>
                                        <div class="text">Expertise is provided by dedicated teachers in P.E. 
                                             P.E. covers topics such as balance, body awareness, movement, coordination, free running and tumbling. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- activities-section end -->
        <!-- gallery-section -->
        <section class="gallery-section sec-pad centred">
            <div class="container-fluid">
                <div class="sec-title">
                    <h5>Gallery</h5>
                    <h1>Photo Gallery</h1>
                </div>
                <div class="gallery-carousel owl-carousel owl-theme">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA00118.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA00118.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA00117.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA00117.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA00116.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA00116.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA00115.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA00115.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA00113.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA00113.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA00114.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA00114.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA00113.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA00113.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/gallery/IMG-20220703-WA0044.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="/static/images/gallery/IMG-20220703-WA0044.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- gallery-section end -->
        <!-- event-section -->
        <section class="event-section" style="background-image: url(images/background/event-bg.jpg);">
            <div class="anim-icon">
                <div class="icon icon-1 float-bob-x"></div>
            </div>
            <div class="container">
                <div class="sec-title centred">
                    <h5>Events</h5>
                    <h1>Our Events</h1>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                        <div class="event-block-one wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="#"><img src="/static/images/gallery/IMG-20220703-WA0044.jpg" alt=""></a></figure>
                                <div class="content-box">
                                    <div class="date">10 July, 2022</div>
                                    <h3><a href="#">Imagination Classes.</a></h3>
                                    <div class="text">Drawing and Colorful Painting of Art Work </div>
                                    <div class="location"><i class="flaticon-pin"></i>Location: <span>KIYANJA</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                        <div class="event-block-one wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="#"><img style="    height: 303px;
                                    width: 303px;" src="/static/images/gallery/IMG-20220703-WA00110.jpg" alt=""></a></figure>
                                <div class="content-box">
                                    <div class="date">12 July, 2022</div>
                                    <h3><a href="#"> Educational Tour.</a></h3>
                                    <div class="text">Educational Tour To Uganda Wildlife Conservation Education Centre</div>
                                    <div class="location"><i class="flaticon-pin"></i>Location: <span>ENTEBBE</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                        <div class="event-block-one wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="event-details.html"><img src="images/resource/event-3.jpg" alt=""></a></figure>
                                <div class="content-box">
                                    <div class="date">13 July, 2019</div>
                                    <h3><a href="event-details.html">Paper Plates Art.</a></h3>
                                    <div class="text">Lorem ipsum dolor amet consectur pisicelit sed eiusmod tempor indie</div>
                                    <div class="location"><i class="flaticon-pin"></i>Location: <span>NEW YORK</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 event-block">
                        <div class="event-block-one wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="event-details.html"><img src="images/resource/event-4.jpg" alt=""></a></figure>
                                <div class="content-box">
                                    <div class="date">14 July, 2019</div>
                                    <h3><a href="event-details.html">Numbers Matching.</a></h3>
                                    <div class="text">Lorem ipsum dolor amet consectur pisicelit sed eiusmod tempor indie</div>
                                    <div class="location"><i class="flaticon-pin"></i>Location: <span>NEW YORK</span></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- event-section end -->

</div>

{% endblock content %}